@use "../abstract" as *;

.Home {
  @include generalStyles;
  .post {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    a {
      text-decoration: none;
    }
    a,
    a:visited {
      color: #000;
    }
    .postDate {
      font-size: 0.75rem;
      margin-top: 0.25rem;
    }
    .postBody {
      margin: 1rem 0;
    }
  }
  .post:first-child {
    margin-top: 0;
  }
  .post:last-child {
    border-bottom: none;
  }
}
