button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.deleteButton {
  background-color: red;
  color: #fff;
}

.submitButton {
  background-color: #333;
  color: whitesmoke;
}
